/RunUO.exe
/RunUO.pdb
/RunUO.vshost.exe
/Logs/
/Scripts/bin/
/Scripts/obj/
/Scripts/Output
/Server/bin/
/Server/obj/

*.user
*.suo
/Backups
/Saves
*.mul
*.dat
*.dll
*.bin
*.cfg
*.txt
*.enu
*.idx
*.def
*.exe
*.kor
*.fra
*.esp
*.cht
*.lst
*.deu
*.jpn
*.iff
/Music
/support


Blueprints.tbp
Cliloc.chs
Default.mac
INTLOC02.ENU
INTLOC02.JPN
INTLOC02.KOR
INTLOC06.CHT
INTLOC06.ENU
INTLOC06.JPN
INTLOC06.KOR
INTLOC10.CHT
INTLOC10.ENU
INTLOC10.JPN
INTLOC10.KOR
Models/
Multimap.rle
OPTNUOTD.CHT
OPTNUOTD.DEU
OPTNUOTD.ENU
OPTNUOTD.ESP
OPTNUOTD.FRA
OPTNUOTD.JPN
OPTNUOTD.KOR
Particles/
SKILL16.CHT
SKILL16.ENU
SKILL16.JPN
SKILL16.KOR
SKILL30.CHT
SKILL30.ENU
SKILL30.JPN
SKILL30.KOR
SKILNAME.ENU
SKILNAME.JPN
SKILNAME.KOR
Uoreport0.log
Verinfo
options.JPN
optuotd.JPN
